@import "_variable";
* {
    font-family: $font-stack-medium;
}
body {
    overflow: hidden !important;
    overflow-y: scroll !important;
}

input{
    outline: none !important;
}

.my-slider {
    margin-top: 50px;
}

.base-slider {
    height: 385px;
    display: flex !important;
    justify-content: space-between;
    background-size: contain;
    border-radius: 7.2px;
    overflow: hidden;
    background-repeat: no-repeat;
    flex-wrap: wrap;
    align-items: center;
}

.slide-content {
    padding-left: 10%;

    position: relative;
    p {
padding-top: 10px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: $on-background;
        @media(min-width:$breakpoint-small-mobile){
           font-size: 16px;
         }

         @media(min-width:$breakpoint-tablet){
            font-size: 28px;
        }
    }

    h1 {

        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.25;
        letter-spacing: normal;
        color: $on-background;

        @media(min-width:$breakpoint-small-mobile){
            font-size: 24px;
         }

         @media(min-width:$breakpoint-tablet){
            font-size: 48px;
        }
    }
}

.slider_button {
    display: flex;
    gap: 0.8em;
    margin-top: 49px;

    @media(min-width:$breakpoint-small-mobile){
       position: absolute;
       top:320px;
     }
     @media(min-width:$breakpoint-small-mobile2){
        position: absolute;
        top:350px;
      }
     @media(min-width:$breakpoint-tablet){
       position: relative;
    }
}

.slick-slide[aria-hidden="true"] {
    margin-top: 20px;
}

.slick-slide {
    margin: 0 10px;
}

.slick-active[aria-hidden="false"] {
    height: 450px !important;
    margin-top: -20px !important;
    border-radius: 7.3px !important;
}

.slick-active[aria-hidden="true"] {
    border-radius: 7.3px !important;
}

.slick-dots {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    list-style-type: none;
    top: 100%;
}

.slick-dots li {
    margin: 0 0.25rem;
}

.slick-dots button {
    display: block;
    width: 12px !important;
    height: 12px !important;
    padding: 0;
    border: none;
    border-radius: 100%;
    background-color: #f66757 !important;
    opacity: 0.49;
    text-indent: -9999px;
}

.slick-dots li.slick-active button {
    background-color: #f66757 !important;
    opacity: 1;
}

.slick-list {


    @media(min-width:$breakpoint-small-mobile){
        padding: 30px !important;
     }

     @media(min-width:$breakpoint-tablet){
        padding: 25px 253px !important;
    }
}

.add__page__btn{
    height: 48px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: $primary;
    border-radius: 8px;
    font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: $surface;
  display: inline-block;
 line-height: 48px;
 cursor: pointer;
 font-family: $font-stack-regular;

 @media(min-width:$breakpoint-small-mobile){
    display: none;
 }

 @media(min-width:$breakpoint-tablet){
     display: none;
}
}

.add__outline__btn {
    min-width: 154px;
    height: 48px;
    line-height: 48px;
    border-radius: 8px;
    border: solid 1px $primary;
    text-align: center;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: $primary;
    font-family: $font-stack-regular;
}

.add__navbar {
    height: 90px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 3px 14px 0 rgba(20, 20, 21, 0.05);
    background-color: $surface;
    @media (min-width:$breakpoint-small-mobile) {
        display: none;
    }
    @media (min-width:$breakpoint-tablet) {
        display: initial;
    }

    .add__menu__box {
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        max-width: 80%;
        margin: auto;
        @media (min-width: $breakpoint-large-desktop) {
            max-width: 68%;
        }

        .add__main__menu {
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                gap: 2em;
                margin-top: 20px;

                li {
                    list-style-type: none !important;

                    a {
                        font-family: $font-stack-bold;
                        font-size: 18px;
                        font-weight: bold;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        text-align: center;
                        color: $on-background;
                    }
                }
            }
        }
    }

    .add__social {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 1.5em;
    }
}

.add__content__section {
    padding-top: 50px;
    padding-bottom: 50px;

    .add__content__box {
        display: flex;
        flex-wrap: wrap;
        gap: 0.8em;
        margin-left: 8px;
        @media (min-width: $breakpoint-tablet) {
            gap: 2em;
            flex-wrap: wrap;
            justify-content: none;
        }

        a {
            text-decoration: none;
            img {

                border-radius: 6.7px;
                @media (min-width:$breakpoint-small-mobile) {
                    width: 137px;
                    height: 216px;

                }
                @media (min-width:$breakpoint-small-mobile-360) {
                    width: 155px;
                    height: 226px;

                }
                @media (min-width:$breakpoint-small-mobile2) {
                    width: 162px;
                    height: 226px;
                }

                @media (min-width:$breakpoint-mobile) {
                    width: 180px;
                    height: 266px;
                }


                @media (min-width: $breakpoint-tablet) {
                    width: 270px;
                    height: 373px;
                    object-fit: contain;
                    border-radius: 8px;
                    transition: 0.5s ease-out;
                }

                &:hover{
                    transform: scale(1.05);
                    transition: 0.5s ease-in;
                }
            }
        }
    }
}
.add__custom__container {
    max-width: 100%;
    margin: auto;
    @media (min-width:$breakpoint-tablet) {
        max-width: 89%;
    }

    @media (min-width: $breakpoint-large-desktop) {
        max-width: 63%;
    }
}

.add__page__title {

    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $on-background;

    @media(min-width:$breakpoint-small-mobile){
       font-size: 30px;
    }

    @media(min-width:$breakpoint-tablet){
        font-size: 38px;
        }
}

.heading__with__button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5px;
    padding-left: 5px;

    .small{
  height: 33px;
  line-height: 33px;
  border-radius: 20px;
  display: block;
  margin-top: -10px;
  @media(min-width:$breakpoint-tablet){
    display: none;
    }
    }




}

.add__banner__box{

    text-align: center;
    .add__banner__box{
        background-color: #a9304e;
        border-radius: 8px;

        @media(min-width:$breakpoint-small-mobile){
            .mobile{
                display: block;
            }

            .desktop{
                display: none;
            }
        }

        @media(min-width:$breakpoint-tablet){
            .mobile{
                display: none;
            }

            .desktop{
                display: block;
            }
        }
    }
}

.add__newsletter__section{
    margin-top: 20px;
    margin-bottom: 20px;
    .add__newsletter__box{
        display: flex;
        justify-content: center;
        background-color: $primary;
        border-radius: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 50px;
        margin-bottom: 50px;

        .add__news__letter__main__box{
            text-align: center;
            h3{

                font-size: 30px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $surface;
            }
            span{
                font-size: 18px;
                font-weight: lighter;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $surface;
                font-family: $font-stack-regular;
            }

            .add__newsletter-input-group{
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                gap: 1em;
                margin-top:16px;

                .add__newsletter__input__box{
                    background-color:rgba(255, 255, 255, 0.138);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    padding-left: 10px;
                    padding-right: 10px;
                    border-radius: 8px;

                    @media(min-width:$breakpoint-small-mobile){
                        width: auto;
                        flex-wrap: wrap;
                        justify-content:space-evenly;
                    }

                    @media(min-width:$breakpoint-tablet){
                        width: 330px;
                        height: 50px;
                    }

                    input{
                        flex: 1;
                        border:none !important;
                        display: inline-block;
                        color: #fff;
                        background: none;
                        font-family: $font-stack-regular;
                        height: 48px;
                        &::placeholder{
                            color: $surface;
                        }
                    }

                    .arrow{
                        @media(min-width:$breakpoint-small-mobile){
                            display: block;
                        }

                        @media(min-width:$breakpoint-tablet){
                          display: none;
                        }
                    }
                }

                .add__white__btn{
                    @extend .add__page__btn;
                    background-color:$surface;
                    color: $primary;
                    font-family: $font-stack-regular;

                    @media(min-width:$breakpoint-small-mobile){
                        display: none;
                    }

                    @media(min-width:$breakpoint-tablet){
                      display: block;
                    }
                }
            }
        }
    }
}



.all__instagram__section{
    background-color:$background;
    padding-top: 60px;
    padding-bottom: 60px;

    .all__ig__box{
        text-align: center;
        h4{
            @extend .add__page__title;
            font-family: $font-stack-medium;
        }

        .add__instagram__item{
            display: flex;
            gap: 0.8em;
            flex-wrap: wrap;
            margin-top: 20px;
            justify-content: center;
            margin-left: 3px;
            margin-right: 3px;
            @media(min-width:$breakpoint-tablet){
                justify-content: space-between;
            }
            a {
                img{
                    @media(min-width: $breakpoint-small-mobile){
                        width: 90px;
                        height: 90px;
                        object-fit: contain;

                    }

                    @media(min-width:$breakpoint-tablet){
                        width: 170px;
                        height: 170px;
                        object-fit: contain;
                    }

                    transition: 0.5s ease-out;
                &:hover{
                    transform: scale(1.05);
                    transition: 0.5s ease-in;
                }
                }
            }
        }
    }

}


.add__footer{
    height:auto;
    background-color: $primary;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;

    .footer__container{
        text-align: center;

        .add__footer__link__box{
            max-width: 560px;
            color: $surface;
            display: flex;
            gap: 0.5em;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
            margin-top: 20px;
            a{
                font-family: $font-stack-regular;
                font-size: 18px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: $surface;
            }
        }
    }
}



.add__copyright__footer{
    min-height: 56px;
    background-color: $primary-variant;
    @media(min-width:$breakpoint-small-mobile){
        padding-left: 5px;
        padding-right: 5px;
    }

    @media(min-width:$breakpoint-tablet){
        padding-left:initial;
        padding-right: initial;
    }

    .last_footer__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 56px;
        flex-wrap: wrap;

        span{
            font-family: $font-stack-regular;
            font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $surface;

  .copy_sub_text{
    @media(min-width:$breakpoint-small-mobile){
        display: none;
    }

    @media(min-width:$breakpoint-tablet){
      display: initial;
    }
  }
        }

        .add__footer__social__icon{
            display: flex;
            align-items: center;
            gap: 1.2em;
        }
    }



}

/* @mobile styles*/
.mobile-nav{
  height: 62px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 14px 0 rgba(20, 20, 21, 0.05);
  background-color:$surface;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  @media (min-width: $breakpoint-small-mobile) {
    display: flex;
}
  @media (min-width: $breakpoint-tablet) {
    display: none;
}
  .menu-icons{
      display: flex;
      height: 100%;
      gap: 1em;
      align-items: center;
  }
}
