$font-stack-light: 'Brandon Grotesque Light', sans-serif;
$font-stack-regular:'Brandon Grotesque Regular', sans-serif;
$font-stack-medium:'Brandon Grotesque Medium', sans-serif;
$font-stack-bold:'Brandon Grotesque Bold', sans-serif;


/*colors*/
$primary: #f66757;
$secondary-variant: #e2e0e6;
$background: #f3f3f3;
$error: #f13d29;
$secondary: #898394;
$primary-variant: #fa8072;
$on-background: #141415;
$surface: #ffffff;
$on-primary: #ffffff;
$on-error: #ffffff;
$on-primary-variant: #ffffff;
$on-secondary: #ffffff;
$on-secondary-variant: #898394;
$on-surface: #898394;
$secondary-variant-2: #6c6577;
$background-pink: #ffe6e3;
$charcoal-grey: #312e35;
$colors-white-12: rgba(255, 255, 255, 0.16);
$black: #312e35;
$colors-blue: #75a8e8;
$colors-green: #6dc4ad;
$colors-pink: #e293ca;
$colors-orange: #fc9e7d;

/* breakpoints */
$breakpoint-small-mobile: 320px;
$breakpoint-small-mobile2: 360px;
$breakpoint-small-mobile3: 370px;
$breakpoint-mobile: 414px;
$breakpoint-tablet: 768px;
$breakpoint-midd-desktop: 1360px;
$breakpoint-desktop: 1600px;
$breakpoint-large-desktop: 1920px;
