/*colors*/
/* breakpoints */
* {
  font-family: "Brandon Grotesque Medium", sans-serif;
}

body {
  overflow: hidden !important;
  overflow-y: scroll !important;
}

input {
  outline: none !important;
}

.my-slider {
  margin-top: 50px;
}

.base-slider {
  height: 385px;
  display: flex !important;
  justify-content: space-between;
  background-size: contain;
  border-radius: 7.2px;
  overflow: hidden;
  background-repeat: no-repeat;
  flex-wrap: wrap;
  align-items: center;
}

.slide-content {
  padding-left: 10%;
}
.slide-content p {
  font-size: 28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #141415;
}
.slide-content h1 {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #141415;
}

.slider_button {
  display: flex;
  gap: 0.8em;
  margin-top: 49px;
}

.slick-slide[aria-hidden=true] {
  margin-top: 20px;
}

.slick-slide {
  margin: 0 10px;
}

.slick-active[aria-hidden=false] {
  height: 450px !important;
  margin-top: -20px !important;
  border-radius: 7.3px !important;
}

.slick-active[aria-hidden=true] {
  border-radius: 7.3px !important;
}

.slick-dots {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  list-style-type: none;
  top: 100%;
}

.slick-dots li {
  margin: 0 0.25rem;
}

.slick-dots button {
  display: block;
  width: 12px !important;
  height: 12px !important;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: #f66757 !important;
  opacity: 0.49;
  text-indent: -9999px;
}

.slick-dots li.slick-active button {
  background-color: #f66757 !important;
  opacity: 1;
}

.slick-list {
  padding: 25px 253px !important;
}

.add__page__btn, .add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__white__btn {
  height: 48px;
  padding-left: 26px;
  padding-right: 26px;
  background-color: #f66757;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  display: inline-block;
  line-height: 48px;
  cursor: pointer;
  font-family: "Brandon Grotesque Regular", sans-serif;
}

.add__outline__btn {
  min-width: 154px;
  height: 48px;
  line-height: 48px;
  border-radius: 8px;
  border: solid 1px #f66757;
  text-align: center;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f66757;
  font-family: "Brandon Grotesque Regular", sans-serif;
}

.add__navbar {
  height: 90px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 14px 0 rgba(20, 20, 21, 0.05);
  background-color: #ffffff;
}
.add__navbar .add__menu__box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}
@media (min-width: 1920px) {
  .add__navbar .add__menu__box {
    max-width: 68%;
  }
}
.add__navbar .add__menu__box .add__main__menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 2em;
  margin-top: 20px;
}
.add__navbar .add__menu__box .add__main__menu ul li {
  list-style-type: none !important;
}
.add__navbar .add__menu__box .add__main__menu ul li a {
  font-family: "Brandon Grotesque Bold", sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #141415;
}
.add__navbar .add__social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5em;
}

.add__content__section {
  padding-top: 50px;
  padding-bottom: 50px;
}
.add__content__section .add__content__box {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}
.add__content__section .add__content__box a {
  text-decoration: none;
}
.add__content__section .add__content__box a img {
  width: 270px;
  height: 373px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  transition: 0.5s ease-out;
}
.add__content__section .add__content__box a img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in;
}

.add__custom__container {
  max-width: 80%;
  margin: auto;
}
@media (min-width: 1920px) {
  .add__custom__container {
    max-width: 63%;
  }
}

.add__page__title, .all__instagram__section .all__ig__box h4 {
  font-size: 38px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #141415;
}

.add__banner__box {
  text-align: center;
}
.add__banner__box .add__banner__box {
  background-color: #a9304e;
  border-radius: 8px;
}

.add__newsletter__section {
  margin-top: 20px;
  margin-bottom: 20px;
}
.add__newsletter__section .add__newsletter__box {
  display: flex;
  justify-content: center;
  background-color: #f66757;
  border-radius: 8px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box {
  text-align: center;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box h3 {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box span {
  font-size: 18px;
  font-weight: lighter;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  font-family: "Brandon Grotesque Regular", sans-serif;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 16px;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__newsletter__input__box {
  width: 330px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.138);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__newsletter__input__box input {
  flex: 1;
  border: none !important;
  display: inline-block;
  color: #fff;
  background: none;
  font-family: "Brandon Grotesque Regular", sans-serif;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__newsletter__input__box input::-moz-placeholder {
  color: #ffffff;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__newsletter__input__box input:-ms-input-placeholder {
  color: #ffffff;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__newsletter__input__box input::placeholder {
  color: #ffffff;
}
.add__newsletter__section .add__newsletter__box .add__news__letter__main__box .add__newsletter-input-group .add__white__btn {
  background-color: #ffffff;
  color: #f66757;
  font-family: "Brandon Grotesque Regular", sans-serif;
}

.all__instagram__section {
  background-color: #f3f3f3;
  padding-top: 60px;
  padding-bottom: 60px;
}
.all__instagram__section .all__ig__box {
  text-align: center;
}
.all__instagram__section .all__ig__box h4 {
  font-family: "Brandon Grotesque Medium", sans-serif;
}
.all__instagram__section .all__ig__box .add__instagram__item {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 20px;
}
.all__instagram__section .all__ig__box .add__instagram__item a img {
  width: 170px;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.5s ease-out;
}
.all__instagram__section .all__ig__box .add__instagram__item a img:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in;
}

.add__footer {
  height: 180px;
  background-color: #f66757;
  padding-top: 50px;
  padding-bottom: 50px;
}
.add__footer .footer__container {
  text-align: center;
}
.add__footer .footer__container .add__footer__link__box {
  max-width: 560px;
  color: #ffffff;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-top: 20px;
}
.add__footer .footer__container .add__footer__link__box a {
  font-family: "Brandon Grotesque Regular", sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.add__copyright__footer {
  min-height: 56px;
  background-color: #fa8072;
}
.add__copyright__footer .last_footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
}
.add__copyright__footer .last_footer__container span {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.add__copyright__footer .last_footer__container .add__footer__social__icon {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
